/*html {
    height: 100%; }*/

h1 {
  text-align: center;
  font-family: 'Walter Turncoat', cursive;
  font-size: 3.4em;
  color: #FF8BCF;
}
#top h1 {
  color: #0BD3D3;

}
#bottom h1 {

}

h3 {
  margin-top: 15px;
  margin-bottom: 15px;
}

h5 {
  text-align: center;
  font-size: 1.8em;

}

.active {
  border: 2px solid #FF8BCF;
  color:
}

.active h3 {
    color: #FF8BCF;
}

h3 {
  font-family: 'Walter Turncoat', cursive;

}

#players {
  text-align: center;
}

.container {
  background: #fff;
}

body {
    background-image: url("http://1nova.com/wallpapers/wp-content/uploads/sites/34/2015/02/Retro-80s-Arcade-Game.jpg");
    background: #F890E7;
    /*background: linear-gradient( #1A1A1A, #FB95DA, 100%);*/
    color: white;
    height: 100%;
    /*background-repeat: no-repeat;*/

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.btn #roll {
    background: #5BD3FF;
}
